
:root{
    --bg-body: hsl(0, 0%, 8%);
    --bg-contact: hsl(0, 0%, 14%);
    --accent: hsl(153, 71%, 59%);
    --text1: hsl(0, 0%, 100%);
    --text2: hsl(0, 0%, 85%);
    --invalid:hsl(8, 100%, 67%); 
    --fs-18: 1.125rem;
    --fs--88:5.5rem;
    --fs--72:4.5rem;
    --fs-40:2.5rem;
    --fs-48: 3rem;
    --fs--32: 2rem;
    --fs-28: 1.5rem;
    --container: 69.375rem;
    --transition:color 250ms ease-in-out;

}


html{
    box-sizing: border-box;
    font-size:100%;
}

*, *::before,*::after{
    box-sizing: inherit;
}


body{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--bg-body);
    color:var(--text1);
    font-size: var(--fs-18);
    line-height: 1.56;
}

h1,h2,h3,p{
    margin-top: 0;
}



a {
    transition: var(--transition) ;
}

a:hover {
    color:var(--accent);

}

.visually-hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height: 1px;
    overflow:hidden;
}

.wrapper{
    width: calc(100% - 2rem);
    max-width: var(--container);
    margin-inline: auto;
}

@media (min-width: 37.5em){ /* 600px*/
    .wrapper{
        width: calc(100% - 3.75rem);
    }
}

/* Header*/
.header{
    margin-top: 20px;
}
.header__home{
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    color: var(--text1);
    text-decoration: none !important;
    flex: 1 0 100%;
    line-height: 1;
}

.header__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;

}

.header__social {
    display: block;
    /* text-decoration: none !important; */
}
.header__social:hover{
    color:var(--accent);
    
}

.header__social > svg > path{
   transition: fill var(--transition);
}

.header__social:hover >svg > path{
    fill: var(--accent);
    
}

@media (min-width: 37.5em){ /* 600px*/
    .header__nav{
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        gap:32px;
    }

    .header__home{
        flex: 1 0 auto;
        margin-inline-end: auto;
    }
}


/* Hero */

.hero{
    position: absolute;
    top: 0;
}

.hero__wrapper{
    position: relative;

}

.hero__image{
    margin-inline:auto;
    display: block;
}

.hero__healine{

}

.hero__description{

}

.hero__contact{

}
